/* inst/app/www/styles.css */
.col-sm-4 .card {
  background-color: #f0f8ff !important;
  border: 1px solid #dee2e6;
}

/* This rule for h4 headers in the main panel (col-sm-8) */
.col-sm-8 h4 {
  color: #006DAE !important; 
}